<nav
  style="--bs-breadcrumb-divider: '>'"
  aria-label='breadcrumb'
  id='breadcrumb'
>
  <ol class='breadcrumb'>
    <li class='breadcrumb-item'>
      <button id='home' class='btn btn-link'>Home</button>
    </li>
    <li class='breadcrumb-item active' aria-current='page'>
      Apply leave
    </li>
  </ol>
</nav>

<div class='leave-container'>
  <h2>Leave Application Form</h2>
  <form
    id='apply-leave-form'
    action='/api/leaves/createLeaveform'
    method='POST'
  >
    <div class='mb-3'>
      <label for='exampleFormControlInput1' class='form-label'>Employee ID
      </label>
      <input
        type='number'
        class='form-control'
        id='exampleFormControlInput1'
        placeholder='{{leaves.employee_leave_id}}'
        name='leave_application_employee_id'
        value={{leaves.employee_leave_id}}
      />
    </div>
    <div class='mb-3'>
      <label for='exampleFormControlInput1' class='form-label'>Leave type</label>
      <select
        class='form-select'
        id='leaveType'
        aria-label='Default select example'
        name='leave_type'
        required
      >
        <option selected>Open this select menu </option>
        <option value='casual_leaves'>Casual Leave - Pending :
          {{leaves.casual_leaves}}</option>
        <option value='sick_leaves'>Sick Leave - Pending :
          {{leaves.sick_leaves}}</option>
        <option value='floater_leaves'>Floater Leave - Pending :
          {{leaves.floater_leaves}}</option>
        <option value='Unpaid_leaves'>Unpaid Leave </option>
      </select>
    </div>
    <div class='mb-3'>
      <label for='from_date' class='form-label date-label'>From date: </label>
      <input
        type='date'
        id='from_date'
        name='from_date'
        class='calendar-input'
        required
      />
    </div>
    <div class='mb-3'>
      <label for='till_date' class='form-label date-label'>To date: </label>
      <input
        type='date'
        id='till_date'
        name='till_date'
        class='calendar-input'
        required
      />
    </div>
    <div class='mb-3'>
      <label for='exampleFormControlTextarea1' class='form-label'>Reason for
        leave</label>
      <textarea
        class='form-control'
        id='exampleFormControlTextarea1'
        name='reason'
        rows='4'
        required
      ></textarea>
    </div>
    <div class='mb-3'>
      <button class='btn btn-primary' type='submit'>Apply</button>
    </div>
  </form>
</div>

<script src='/scripts/leaveform.js'></script>