<nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb" id="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <button id="home" class="btn btn-link">Home</button>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            Leave Requests
        </li>
    </ol>
</nav>

<div class="leave-requests">    
  {{#each leaves}}
       <div class="card w-75 mb-3" id="leave-card">
        <div class="card-body">
            <div class="card-title">{{this.leave_application_employee_id}}</div>
            <div class="card-text">{{this.reason}}</div>
            <div class="card-from_date">from_date:{{this.from_date}}</div>
            <div class="card-till_date">till_date:{{this.till_date}}</div>
            <div class="card-status">Status:{{this.status}}</div>
            <div class="mb-3">
                <label for="inputComments" class="form-label">Comments</label>
                <textarea id="inputComments" class="form-control" rows="1"></textarea>
            </div>
            {{!-- {{#if (eq (this.status) "pending")}} --}}
            <a href="/api/leaves/statusUpdate?status=Approved&id={{this.leave_application_id}}" class="btn btn-primary">Approve</a>
            <a href="/api/leaves/statusUpdate?status=Rejected&id={{this.leave_application_id}}" class="btn btn-primary">Reject</a>
             {{!-- {{/if}} --}}
        </div>
    </div>

  {{/each}}
</div>

<script src="/scripts/breadcrumb-nav.js"></script>