<nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb" id="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <button id="home" class="btn btn-link">Home</button>
        </li>
        <li class="breadcrumb-item">
            <a href="/api/project/projects?status=on-going&page=1&perPage=5">View Projects</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            Project Details
        </li>
    </ol>
</nav>

<div class="title-div title">
    <p>{{project.project_name}} - {{project.client}}</p>
    <div>
        <span id="project-id">{{project.project_id}}</span>
        <button id="project-employees" class="btn btn-primary btn-sm" type="submit">Employees on project</button>
    </div>
</div>
<div class="project-details">
    <div class="uploads-div">
        <div class="mb-3">
            <form action="/api/project/upload/{{project.project_id}}" method="post" enctype="multipart/form-data">
                <label for="formFileMultiple" class="form-label">Upload files to project</label>
                <input class="form-control" name="file" type="file" id="formFileMultiple" multiple>
                <div id="file-submit" class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-primary" type="submit">upload</button>
                </div>
            </form>
        </div>
        <div class="mb-3 update-project">
            <form action="/api/project/addNotes/{{project.project_id}}" method="post">
                <label for="exampleFormControlTextarea1" class="form-label">Project Notes</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" name="notes"
                    disabled>{{project.project_details.notes}}</textarea>
                <div id="file-submit" class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button id="add-note" class="btn btn-primary me-md-2" type="button">Add/Edit notes</button>
                    <button class="btn btn-primary" type="submit">update</button>
                </div>
            </form>
        </div>
    </div>
    <div class="files-div">
        <div class="projects-title">
            <p>File for the Project</p>
        </div>
        <div class="files">
            <div class="card w-100">
                <div class="card-body">
                    <h5 class="card-title">{{project.project_name}}</h5>
                    <p class="card-text"> Tech Stack: {{project.project_details.tech_stack}}</p>
                    <a href="{{project.project_details.project_url}}" class="btn btn-primary" target="_blank">Project URL</a>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>

<script src="/scripts/project-details.js"></script>