<nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb" id="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <button id="home" class="btn btn-link">Home</button>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            View Employees
        </li>
    </ol>
</nav>

<div class="employee-table">
    <div class="title">
        <p>Employees list</p>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Employee Name</th>
                <th scope="col">Department</th>
                <th scope="col">Performance (Last Month)</th>
                <th scope="col">Current project</th>
                <th scope="col">Performance history</th>
            </tr>
        </thead>
        <tbody>
            {{#each employees.employees}}
            <tr>
                <th>{{this.employee_id}}</th>
                <td><a href="/api/employee/getEmployee/{{this.employee_id}}">{{this.employee_name}}</a></td>
                <td>{{this.department}}</td>
                <td>
                    <div class="rating-cell">
                        <span>{{ratings this.performance}}</span>
                        <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#exampleModal"
                            data-bs-whatever="@mdo">Add</button>

                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Add rating</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <div class="mb-3">
                                                <label for="rating" class="col-form-label">Rating</label>
                                                <input max="5" type="number" class="form-control" id="rating">
                                            </div>
                                            <div class="mb-3">
                                                <label for="comments" class="col-form-label">Comments</label>
                                                <textarea class="form-control" id="comments"></textarea>
                                            </div>
                                            <div class="mb-3">
                                                <label for="month-year" class="col-form-label">Rating for month</label>
                                                <input type="month" class="form-control" id="month-year">
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <form action="#">
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>{{projDisplay this.projects}}</td>
                <td><a href="/api/employee/employeePerformanceHistory?emp_id={{this.employee_id}}&page=1&perPage=10">View Performance history</a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <nav aria-label="Page navigation">
        <ul class="pagination" id="pages">{{employees.totalPages}}</ul>
    </nav>
</div>

<script src="/scripts/breadcrumb-nav.js"></script>
<script src="/scripts/view-employees.js"></script>