<nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb" id="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <button id="home" class="btn btn-link">Home</button>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            View Projects
        </li>
    </ol>
</nav>

<div class="projects-table">
    <div class="top-bar">
        <div class="title">
            <p>Projects <span class="filter"></span></p>
        </div>
        <div>
            <p id="add-project-cond">{{add}}</p>
            <button type="button" id="add-project" class="btn btn-primary" data-bs-toggle="modal"
                data-bs-target="#staticBackdrop">
                Add Project
            </button>
            <select name="filter" id="table-filter">
                <option value="none" selected>Choose...</option>
                <option value="on-going">on-going</option>
                <option value="completed">completed</option>
                <option value="all">all</option>
            </select>
        </div>
    </div>

    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Add a new Project</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="#" method="post">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" id="input-label" class="form-label">Project
                                Name</label>
                            <input type="text" class="form-control" id="exampleFormControlInput1" name="project_name"
                                required>
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" id="input-label" class="form-label">Client</label>
                            <input type="text" class="form-control" id="exampleFormControlInput1" name="client"
                                required>
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" id="input-label" class="form-label">Start date</label>
                            <input type="date" class="form-control" id="exampleFormControlInput1" name="start_date"
                                required>
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" id="input-label" class="form-label">End date</label>
                            <input type="date" class="form-control" id="exampleFormControlInput1" name="end_date"
                                required>
                        </div>

                        <hr>
                        <span class="project-details-span">Project Details</span>
                        <hr>

                        <div class="mb-3">
                            <label for="exampleFormControlInput1" id="input-label" class="form-label">Project
                                URL</label>
                            <input type="text" class="form-control" id="exampleFormControlInput1">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" id="input-label" class="form-label">Project
                                Username</label>
                            <input type="text" class="form-control" id="exampleFormControlInput1">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" id="input-label" class="form-label">Project
                                Password</label>
                            <input type="text" class="form-control" id="exampleFormControlInput1">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" id="input-label" class="form-label">Tech Stack</label>
                            <input type="text" class="form-control" id="exampleFormControlInput1">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="scrollable">
        <table class="table table-bordered" id="projects">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Project Name</th>
                    <th scope="col">Client</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">End Date</th>
                    <th scope="col">Status</th>
                    <th scope="col">Other Details</th>
                </tr>
            </thead>
            <tbody id="table-body">
                {{#each projects.projects}}
                <tr>
                    <th>{{this.project_id}}</th>
                    <td>{{this.project_name}}</td>
                    <td>{{this.client}}</td>
                    <td>{{this.start_date}}</td>
                    <td>{{this.end_date}}</td>
                    <td>{{this.status}}</td>
                    <td><a href="/api/project/projectDetails/{{this.project_id}}">click here</a></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    <nav aria-label="Page navigation">
        <ul class="pagination" id="pages">{{projects.totalPages}}</ul>
    </nav>
</div>

<script src="/scripts/breadcrumb-nav.js"></script>
<script src="/scripts/view-projects.js"></script>